* {
    margin: 0px;
    padding: 0px;
}


.date, h2, h3, h4, .social .copy {
    color:#44545E;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}



body {
    /* margin: 0%; */
    /* padding: 0; */
    min-height: 100%;
    width: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}

/* ---------- Header ---------- */

.nav {
    width: 100vw;
    list-style-type: none;
    color: #7e9bac;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    margin: 3vh 20vw 3vh 0;
    padding: 0 2vw 0 2vw;
}

.nav > li {
    margin: 3px;
}

.background_img_wtext {
    background-image: url(../images/blog_header_bg.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 40vh;
}

h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 15px; 
    font-size: 43px;
    line-height: 40vh;
    text-align: center;
}


/* ---------- Main ---------- */
.wrapper {
    margin: 0 16vw 0 8vw;
    padding: 0;
    width: 100vw;
    max-width: 1400px;
    height: 100vh;
    min-height: 100%;
    flex:1;
    display: flex;
    
}

section {
    width: 54vw;
    height: 100vh;
    /* flex: 1 0 auto; */
    padding: 15vh 0vh 5vh 0;
    flex: 1
}


article img, article p {
    width: 54vw;
    max-width: 1400px;
}

article p {
    overflow: hidden;
}

aside {
    width: 22vw;
    height: 100vh;
    padding: 20vh 0 5vh 5vw;
    flex:1;
}

aside img, aside p {
    width: 22vw;
    max-width: 1400px;
}
aside p {
    overflow: hidden;
}



.date {
    font-size: 20px;
    margin: 0 0 1em 0;

}

h2 {
    font-size: 25px;
    margin: 0 0 1em 0;

}

img {
    margin: 1em 0;
}

aside img {
    margin: 5em 0;
}
p {
    line-height: 1.5em;
    color:#44545E;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.issues {
    list-style-type: disc;
    color: #7e9bac;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.issues li {
    margin:1em 0;
}

h3 {
    font-size: 20px;
    margin: 0 0 1em 0;
}

h4 {
    font-size: 20px;

}

/* ---------- Footer ---------- */
footer {
    background-color:#cdf3f6;
    width: 100vw;
    height: 20vh;
    position: relative;
    /* margin-top: auto; */
    margin-top: 120vh;  
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100vw;
    height: 20vh;
    margin: 0;
    padding: 0;
}

.social li {
    color: #44545E;
    margin: 0;
    letter-spacing: 1em;
    font-size: 2em;
    padding: 0;
}

form {
    background-color: #cdf3f6;
    width: 100vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
} 

input[placeholder], input[value] {
    text-align: center;
}

input[placeholder] {
    width: 20vw;
    margin: 0 2em;
    padding: .5em 0;
    font-size: 1em;
} 

input[value] {
    width: 15vw;
    background-color: #cdf3f6;
    border: 2px solid black;
    font-size: 1em;
    padding: .5em 0;
    margin: 0 2em;
}




.copy {
    width: 100vw;
    text-align: center;
    border-top: 1px solid black;
    margin: 0%;
    padding: 1em 0;
    background-color: #CDF3F6;
}